<div class="container p-3 mx-auto">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"></h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Personal</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">0 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="list-unstyled mt-3">
            <li>Free for personal use</li>
            <li>Email support</li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Company</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">15 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="list-unstyled mt-3">
            <li>Simple Timekeeper for all your employees</li>
            <li>
              Priority email support
              </li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Professional</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">200 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="list-unstyled mt-3">
            <li>Request new features</li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
  </div>
  </main>
</div>
