<div class="container p-3 mx-auto">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Bei Fragen stehe ich Ihnen jederzeit zur Verfügung: s.raess@me.com</p>
  </div>

<main>
  <div class="row row-cols-1 row-cols-md-3 g-2 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">0 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="mt-3">
            <li>kostenlos</li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Personal</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">12 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="mt-3">
            <li>
              e-Mail-Support
            </li>
            <li>Neue Features beantragen</li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm h-100">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Company</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">60 CHF<small class="text-muted fw-light">/year</small></h1>
          <ul class="mt-3">
            <li>Simple Timekeeper für alle Angestellten</li>
            <li>Handliche Übersicht</li>
            <li>
              e-Mail-Support
            </li>
            <li>Neue Features beantragen</li>
          </ul>
        </div>
        <div class="card-footer border-0 bg-light mb-3">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
  </div>
  </main>
</div>
