<main class="mt-4 text-center flex-shrink-0">
<div class="container p-3">
    <h1 class="mb-4"><%= @page_title %></h1>
    <p class="lead">
      <%= @page_description %>
    </p>
    <p class="lead">
      If you are looking for a tool to record working hours with mobile apps, clouds, crypto-currency and other fancy stuff,
      then you certainly came to the wrong place.
    </p>
    <p class="lead">
      <strong>However</strong>, if you just need a tool to record working hours, then Simple Timekeeper might just be the right thing for you.
    </p>
    <p class="lead">
      <a href="#" class="primary-button"><%= t("get_started") %></a>
    </p>
</div>
</main>
