    <% if user_signed_in? %>
    <main class="main_left">
      <%= render 'accounts/my_accounts', user: current_user %>
    </main>
    <% else %>
    <main class="container main_center">

    <h1><%= @page_title %></h1>
    <p class="lead">
      <%= @page_description %>
    </p>
    <p>
      <%= link_to t('try_free'), new_user_registration_path, class:"primary-button" %>
    </p>
    </main>
    <% end %>
