<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @select_option.name %>
</p>

<%= link_to 'Edit', edit_select_option_path(@select_option) %> |
<%= link_to 'Back', select_options_path %>
