/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-a-color {
  fill: #026670 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-b-color {
  fill: #9FEDD7 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-c-color {
  fill: #FEF9C7 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-d-color {
  fill: #FCE181 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-e-color {
  fill: #EDEAE5 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-f-color {
  fill: #808080 !important;
}

/* line 5, app/assets/stylesheets/charts.scss */
.area-chart-bg-g-color {
  fill: #0394a2 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-a-color {
  stroke: #026670 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-b-color {
  stroke: #9FEDD7 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-c-color {
  stroke: #FEF9C7 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-d-color {
  stroke: #FCE181 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-e-color {
  stroke: #EDEAE5 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-f-color {
  stroke: #808080 !important;
}

/* line 24, app/assets/stylesheets/charts.scss */
.area-chart-line-g-color {
  stroke: #0394a2 !important;
}
