/* line 5, app/assets/stylesheets/colors.scss */
.bg-a-color {
  background-color: #026670 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-b-color {
  background-color: #9FEDD7 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-c-color {
  background-color: #FEF9C7 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-d-color {
  background-color: #FCE181 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-e-color {
  background-color: #EDEAE5 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-f-color {
  background-color: #808080 !important;
}

/* line 5, app/assets/stylesheets/colors.scss */
.bg-g-color {
  background-color: #0394a2 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-a-color {
  color: #026670 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-b-color {
  color: #9FEDD7 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-c-color {
  color: #FEF9C7 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-d-color {
  color: #FCE181 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-e-color {
  color: #EDEAE5 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-f-color {
  color: #808080 !important;
}

/* line 14, app/assets/stylesheets/colors.scss */
.text-g-color {
  color: #0394a2 !important;
}
