$main-colors: (
  a-color: #026670,
  b-color: #9FEDD7,
  c-color: #FEF9C7,
  d-color: #FCE181,
  e-color: #EDEAE5,
);

@mixin background-color-modifiers {
  @each $name, $hex in $main-colors {
    &-#{$name} {
      background-color: $hex !important;
      @extend .p-2 !optional;
    }
  }
}

@mixin text-color-modifiers {
  @each $name, $hex in $main-colors {
    &-#{$name} {
      color: $hex !important;
    }
  }
}

@mixin btn-color-modifiers {
  @each $name, $hex in $main-colors {
    &-#{$name} {
      color: $white;
      background-color: $hex !important;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover{
        color: #ffffff;
        filter: brightness(1.1);
        transform: scale(1.09);
      }
    }

    .badge {
      color: $hex;
      background-color: #ffffff;
    }
  }
}

.bg {
  @include background-color-modifiers;
}

.text {
  @include text-color-modifiers;
}

.btn {
  @include btn-color-modifiers;
}
