<div class="container">
  <%= render "accounts/information_card", account: account %>

  <div class="standard-card ">
    <div class="card-body">
      <h5 class="card-title"><%= t("create worktime") %></h5>
      <p class="card-text">
        <%= render 'work_times/form', work_time: WorkTime.new, account: account %>
      </p>
    </div>
  </div>

  <%= render "accounts/data_overview", account: account, start_date: start_date, end_date: end_date %>

</div>
